<ng-container *ngIf="screenshotList.length>0">
  <div class="screenshots">
    <ng-container *ngFor="let screenshot of screenshotList;index as $index">
      <img id="screenshot-{{$index}}"
           name="screenshot"
           [src]="metadataServer+'/'+screenshot+cdnSuffix"
           (load)="loaded($event.target)"
           (error)="error($event.target)"
           (click)="previewImage($index)">
    </ng-container>

    <button class="lastButton"
            [disabled]="select===0"
            (click)="goto(select-1)"></button>
    <button class="nextButton"
            [disabled]="select===screenshotList.length-1"
            (click)="goto(select+1)"></button>
  </div>
  <dstore-indication [count]="screenshotList.length"
                     [selectIndex]="select"
                     #indication
                     (change)="goto($event)"></dstore-indication>
</ng-container>
<ng-container *ngIf="loading">
  <dialog open="true">
    <app-wait>
    </app-wait>
  </dialog>
</ng-container>