:host {
  display: block;
  padding: 1rem 2rem;
}
.title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.list {
  .item {
    margin: 0.8rem 0;
    display: flex;
    .content {
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex-grow: 1;
      align-items: center;
      .appInfo {
        flex: 3;
        display: flex;
        flex-direction: column;
        height: 48px;
        justify-content: space-around;
        .version {
          color: gray;
          font-size: 0.8rem;
        }
      }
      .time {
        flex: 3;
        color: gray;
        font-size: 0.8rem;
      }
      .progressInfo {
        flex: 3;
        flex-shrink: 0;
        progress {
          width: 100%;
        }
        .speed {
          display: flex;
          justify-content: space-between;
          padding-top: 0.5rem;
          color: gray;
          .size {
            white-space: nowrap;
          }
        }
        .message {
          display: flex;
          justify-content: center;
          padding-top: 0.5rem;
          font-size: 0.8rem;
          color: gray;
        }
        .failed {
          color: red;
        }
      }
      .controlBtn {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        button {
          width: 2.5rem;
          height: 2.5rem;
          background-size: 100% 100%;
          background-color: transparent;
          background-repeat: no-repeat;
        }
        .readyBtn {
          width: 28px;
          height: 28px;
          border: 1px solid;
          border-radius: 50%;
        }
        @each $ctl in ('pause', 'start', 'restart', 'cancel') {
          .#{$ctl}Btn {
            background-image: url('/assets/buttons/#{$ctl}_normal.svg');
            &:hover {
              background-image: url('/assets/buttons/#{$ctl}_hover.svg');
            }
            &:disabled {
              background-image: url('/assets/buttons/#{$ctl}_insensitive.svg');
            }
          }
        }
      }
    }
  }
}
