
<div class="list" *ngIf="jobs$|async as $jobs">
  <div class="title">{{$jobs.length}}个任务正在进行</div>
  <ng-container *ngFor="let job of $jobs">
      <div class="item" *ngIf="job.name|appInfo|async as $app">
        <img class="icon" [src]="metadataServer + '/' + $app.icon" [routerLink]="$app.name">
        <div class="content">
          <div class="appInfo" [routerLink]="$app.name">
            <div class="name">
              {{$app.localInfo.description.name}}
            </div>
            <div class="version">
              版本：10.61.1
            </div>
          </div>
          <div class="time">
              剩余时间：
              <ng-container *ngIf="job.type=='download' && job.status=='running';else $wait">
                <span *ngIf="job.size$|async as $size;else $wait">
                  {{job.speed>0 ? ($size*(1-job.progress*2)/job.speed).toFixed(0) : 0}}秒
                </span>
              </ng-container>
              <ng-template #$wait>
                — —
              </ng-template>
          </div>
          <div class="progressInfo">
            <progress [value]="job.progress*2" max="1"></progress>
            <div class="speed" *ngIf="job.status=='running' && job.type=='download';else $msg">
              <span *ngIf="job.size$|async as $size">
                {{($size*job.progress*2)|sizeHuman}} / {{$size|sizeHuman}} 
              </span>
              <span>{{job.speed|sizeHuman}}/S</span>
            </div>
            <ng-template #$msg>
              <div class="message" [class.failed]="job.status=='failed'">
                  {{progressMessage[job.type][job.status]}}
              </div>
            </ng-template>
          </div>
          <div class="controlBtn">
            <ng-container [ngSwitch]="true">
              <button class="pauseBtn" (click)="pause(job.id);$event.target.disabled=true" *ngSwitchCase="job.status=='running' || job.status=='ready'" [disabled]="!job.cancelable"></button>
              <button class="startBtn" (click)="start(job.id);$event.target.disabled=true" *ngSwitchCase="job.status=='paused'"  [disabled]="!job.cancelable"></button>
              <button class="restartBtn" (click)="start(job.id)" *ngSwitchCase="job.status=='failed'" [disabled]="!job.cancelable"></button>
            </ng-container>
            <button class="cancelBtn" [disabled]="!job.cancelable" (click)="cancel(job.id)"></button> 
          </div>
        </div>
      </div>
  </ng-container>
</div>