<div class="title">三个任务正在进行</div>
<div class="list" *ngIf="jobs$|async as $jobs">
  <ng-container *ngFor="let job of $jobs">
      {{job|json}}
      <br>
      <div class="item" *ngIf="job.name|appInfo|async as $app">
        <img class="icon" [src]="metadataServer + '/' + $app.icon">
        <div class="content">
          <div class="appInfo">
            <div class="name">
              {{$app.name}}
            </div>
            <div class="version">
              10.61.1
            </div>
          </div>
          <div class="time">
              剩余时间：56秒
          </div>
          <div class="progressInfo">
            <progress [value]="job.progress" max="1"></progress>
            <div class="speed">
              <span *ngIf="job.size$|async as $size">
                {{($size*job.progress)|sizeHuman}} / {{$size|sizeHuman}} 
              </span>
              <span>{{job.speed|sizeHuman}}/S</span>
            </div>
          </div>
          <div class="controlBtn">
            <ng-container [ngSwitch]="job.status">
              <button (click)="pause(job.id)" *ngSwitchCase="'running'">暂停</button>
              <button (click)="start(job.id)" *ngSwitchCase="'paused'">开始</button>
              <button (click)="start(job.id)" *ngSwitchCase="'failed'">重试</button>
              <button disabled *ngSwitchCase="'ready'">...</button>
            </ng-container>
            <button [disabled]="!job.cancelable" (click)="cancel(job.id)">取消</button>
          </div>
        </div>
      </div>
  </ng-container>
</div>
<!-- <div class="list" *ngIf="appsObs|async as apps">
  <div class="item" *ngFor="let app of apps">
    <img class="icon" [src]="metadataServer+'/'+app.icon">
    <div class="content">
      <div class="appInfo">
        <span class="name">火狐浏览器</span>
        <span class="version">版本:10.1</span>
      </div>
      <div class="time">剩余时间：56秒</div>
      <div class="progressInfo">
        <progress value="5" max="100"></progress>
        <div class="speed">
          <span>4.2/50.2MB</span>
          <span>420kb/S</span>
        </div>
      </div>
      <div class="btnGroup">
        <div class="control"></div>
        <span class="close">X</span>
      </div>
    </div>
  </div>
</div> -->
