[Desktop Entry]
Categories=Application;System;Settings
Comment=A general Linux software manager
Comment[zh_CN]=Linux 通用软件管理器
Comment[zh_TW]=Linux 的通用軟體管理器
Encoding=UTF-8
Exec=dstore-client %U
Icon=deepin-software-center
Name=Deepin Store 4
Name[zh_CN]=深度商店 4
Name[zh_TW]=深度商店 4
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
