.score {
  position: relative;
  &::before {
    content: '★★★★★';
    color: #d8d8d8;
    font-weight: bold;
    // text-shadow: 0 0 1px #979797;
  }
  .rate {
    position: absolute;
    overflow: hidden;
    top: 0;
    &::before {
      content: '★★★★★';
      color: #ff8a09;
      font-weight: bold;
      // text-shadow: 0 0 1px #979797;
    }
  }
  .scoreList {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    div {
      width: 0.5em;
      height: 1.5em;
    }
  }
}
