.comment {
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  .title {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .star {
      display: flex;
      align-items: baseline;
    }
  }
  .input-box {
    position: relative;
    .input {
      border: 0px;
      outline: 0px;
      margin: 0px;
      height: 8em;
      width: 100%;
      resize: none;
    }
    .placeholder {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: gray;
    }
    .loginBtn {
      position: absolute;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      top: 40%;
      left: 50%;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    }
  }
}
.submitBtn {
  margin: 0.5rem 0;
  padding: 0.2rem 1rem;
  float: right;
  border-radius: 3px;
  background: white;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.paging {
  margin-top: 1rem;
  .title {
    font-size: 1.2rem;
  }
}
.commentList {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .commentItem {
    display: flex;
    border-radius: 3px;
    padding: 1rem;
    &:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .body {
      flex: 1;
      padding: 0.5rem;
      .rate {
        display: flex;
        align-items: baseline;
        span {
          margin-left: 1rem;
        }
      }
    }
    .time {
      width: 12rem;
      color: gray;
      text-align: right;
    }
    .like {
      width: 6rem;
      color: gray;
      text-align: right;
    }
  }
}
