<div class="titleGroup">
  <div class="title">
    <ng-content></ng-content>
    <span class="number"
          *ngIf="count"
          i18n>{{count}} applications</span>
    <span class="number"
          *ngIf="top"
          i18n>Top {{top}}</span>
  </div>
  <div class="dropdown"
       (click)="dropMenu.hidden=false;dropMenu.focus()">

    <ng-container *ngIf="sortBy===SortOrder.Downloads"
                  i18n>Downloads</ng-container>
    <ng-container *ngIf="sortBy===SortOrder.Score"
                  i18n>Rating</ng-container>
    <img class="down">
  </div>
  <ul class="dropdown-menu"
      tabIndex="-1"
      hidden
      #dropMenu
      (blur)="dropMenu.hidden=true">
    <li (click)="change(SortOrder.Downloads);dropMenu.hidden=true;">
      <div class="select"
           [class.ok]="sortBy===SortOrder.Downloads"></div>
      <ng-container i18n>Downloads</ng-container>
    </li>
    <li (click)="change(SortOrder.Score);dropMenu.hidden=true;">
      <div class="select"
           [class.ok]="sortBy===SortOrder.Score"></div>
      <ng-container i18n>Rating</ng-container>
    </li>
  </ul>
</div>