<div class="title">
  <div>
    <ng-content></ng-content>
    <span class="count"
          *ngIf="count"
          i18n>Totally {count,plural,=1 {is} other {are}} {{count}}</span>
  </div>
  <div class="dropdown"
       (click)="dropMenu.hidden=false;dropMenu.focus()"
       i18n>{{sortBy}} {sortBy, select, SortOrder.Downloads {Download} SortOrder.Score {Rate}}
    <img class="down">
  </div>
  <ul class="dropdown-menu"
      tabIndex="-1"
      hidden
      #dropMenu
      (blur)="dropMenu.hidden=true">
    <li (click)="sortBy=SortOrder.Downloads;dropMenu.hidden=true;">Download</li>
    <li (click)="sortBy=SortOrder.Score;dropMenu.hidden=true;">Rate</li>
  </ul>
</div>