.titleGroup {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem 0;
  .title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .number {
    line-height: 1rem;
    margin-left: 1rem;
    font-size: 0.5rem;
    color: gray;
  }
  .dropdown-menu {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    list-style: none;
    top: 2rem;
    right: 1rem;
    border-radius: 5px;
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    outline: none;
    li {
      padding: 2px 2rem;
      margin: 3px 0;
      &:hover {
        background-color: #26a2f1;
      }
    }
  }
}
.down {
  margin-left: 0.5rem;
  $url: '/assets/buttons/down';
  content: url($url+'_normal.svg');
  &:hover {
    content: url($url+'_hover.svg');
  }
  &:active {
    content: url($url+'_press.svg');
  }
}
