.titleGroup {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem 0;
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .number {
    line-height: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: gray;
  }
  .dropdown {
    $url: '/assets/buttons/down';
    &:after {
      display: inline-block;
      content: '';
      width: 9px;
      height: 9px;
      margin-left: 0.5rem;
      background-image: url($url+'_normal.svg');
    }
    &:hover {
      &:after {
        background-image: url($url+'_hover.svg');
      }
    }
    &:active {
      &:after {
        background-image: url($url+'_press.svg');
      }
    }
  }
  .dropdown-menu {
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    list-style: none;
    top: 2rem;
    right: 1rem;
    border-radius: 5px;
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    outline: none;
    li {
      padding: 2px 2rem;
      padding-left: 15px;
      margin: 3px 0;
      &:hover {
        background-color: #2ca7f8;
        color: white;
        .ok {
          content: url('/assets/icons/select_hover.svg');
        }
      }
    }
  }
}

.select {
  width: 9px;
  height: 9px;
  margin-right: 6px;
  display: inline-block;
  &.ok {
    content: url('/assets/icons/menu_select.svg');
  }
}
