.idea/
.vscode
.directory
build/
# Qt Creator
*.autosave
*.user

/obj-*
debian/files
debian/*.log
debian/*.substvars
debian/tmp
debian/deepin-appstore
debian/deepin-appstore-data
debian/debhelper-build-stamp
debian/.debhelper/
src/web_dist
src/web_dist_aot
debian/deepin-appstore-data-aot
src/daemon/deepin-appstore-daemon
src/daemon/daemon
