.notify {
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  max-width: 80%;
  max-height: 10rem;
  overflow: hidden;
  word-break: break-all;
  border-radius: 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0 2px 10px var(--main-bg-color), 0 0 0 1px var(--main-title-hr-color);

  span {
    margin: 0.2rem 0.8rem;
    user-select: all;
  }
}
.succeed {
  color: green;
}
.failed {
  color: red;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  $path: '/assets/buttons/close';
  content: url($path+'_normal_light.svg');
  &:hover {
    content: url($path+'_hover_light.svg');
  }
  &:active {
    content: url($path+'_press_light.svg');
  }
}
