<ng-container *ngIf="topic">
    <div [style.backgroundColor]="topic.backgroundColor"
         hidden
         #topicContainer>
        <img class="bgImg"
             [src]="server+'/images/'+ ([topic.backgroundImage,topic.backgroundImageHD]|fitImage)">
        <app-app-list class="apps"
                      [apps$]="apps$"
                      (appListLength)="loaded()"></app-app-list>
    </div>
    <app-wait *ngIf="topicContainer.hidden"
              [style.height.vh]="100"></app-wait>
</ng-container>