:host {
  margin: 0 -1.5rem;
  display: block;
  min-height: 100%;
}

.bgImg {
  position: fixed;
  top: 0;
  z-index: -999;
  width: 100%;
  cursor: default;
  mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.apps {
  display: block;
  margin: 0 2rem;
  padding-top: 50vh;
}
