<div class="carouselList"
     [style.left.px]="left">
  <ng-container *ngFor="let items of list; index as $index">
    <img src="{{operationServer}}/images/{{items.images|fitImage}}"
         (click)="__click(selectIndex+$index-1)"
         [@carousel]="$index"
         [attr.index]="$index">
  </ng-container>
  <div class="indicationList">
    <div *ngFor="let items of _carouselList;index as $index"
         (click)="select($index)">
      <div class="indicationItem"
           [class.active]="$index===selectIndex"></div>
    </div>
  </div>
</div>