:host {
  height: 180px;
  width: 700px;
}
.carouselList {
  position: absolute;
  display: flex;
  height: 180px;
  left: 0;
  img {
    margin-right: 10px;
    min-width: 700px;
    width: 700px;
    height: 180px;
  }
  .indicationList {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 1;
    display: flex;
    transform: translateX(-50%);
    .indicationItem {
      margin: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &.active {
        background-color: #01bdff;
      }
    }
  }
}
