:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1rem;
}
.donate-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.donate-item {
  display: flex;
  height: 60px;
  align-items: center;
  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-item-hr-color);
  }
  .info {
    padding-left: 0.5rem;
    flex: 3;
  }
  .time {
    flex: 2;
    color: gray;
  }
  .source {
    flex: 1;
    color: gray;
  }
  .amount {
    flex: 1;
    justify-content: center;
    font-size: 1.1rem;
    color: #dec366;
  }
}
.paginatorContainer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
