<ng-container *ngIf="version as $version">
        <button class="control"
                *ngIf="!$version.localVersion && $version.remoteVersion"
                (click)="installApp($event)"
                [disabled]="disabled"
                i18n>Install</button>
        <ng-container *ngIf="$version.localVersion && !$version.upgradable">
                <button class="control"
                        (click)="openApp($event)"
                        *ngIf="canOpen.includes(openType)"
                        [disabled]="disabled"
                        i18n>Open</button>
        </ng-container>
        <button class="control"
                *ngIf="$version.upgradable"
                (click)="updateApp($event)"
                [disabled]="disabled"
                i18n>Update</button>
</ng-container>