<ul class="pagination"
    *ngIf="pageList">

  <li class="range-field"
      *ngIf="progress">
    <input type="range"
           min="1"
           [max]="length"
           [value]="page"
           (change)="pageChange.emit($event.target.value)" />
  </li>

  <li class="waves-effect"
      (click)="pageChange.emit(this.page==1?this.page:this.page-1)"
      [class.disabled]="this.page==1">
    <a>
      <i class="material-icons">chevron_left</i>
    </a>
  </li>
  <ng-container *ngIf="!pageList.includes(1)">
    <li class="waves-effect"
        (click)="pageChange.emit(1)">
      <a>1</a>
    </li>
    ...
  </ng-container>

  <li class="waves-effect"
      *ngFor="let $page of pageList"
      [class.active]="$page===page">
    <a (click)="pageChange.emit($page)">{{$page}}</a>
  </li>


  <ng-container *ngIf="!pageList.includes(this.length)">
    <ng-container *ngIf="!pageList.includes(this.length-1)">...</ng-container>
    <li class="waves-effect"
        (click)="pageChange.emit(this.length)">
      <a>{{this.length}}</a>
    </li>
  </ng-container>

  <li class="waves-effect"
      (click)="pageChange.emit(this.length==this.page?this.page:this.page+1)"
      [class.disabled]="this.length==this.page">
    <a>
      <i class="material-icons">chevron_right</i>
    </a>
  </li>
</ul>