.app {
  display: flex;
  .nav {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .context {
    flex: 1;
    overflow-x: hidden;
    @media (min-width: 600px) {
      padding: 0 10px;
    }
    position: relative;
  }
}
