.app {
  display: flex;
  .nav {
    height: 100vh;
    overflow-y: auto;
  }
  .context {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 1rem;
    margin-bottom: 1rem;
    position: relative;
  }
}
