.app {
  display: flex;
  .nav {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .context {
    flex: 1;
    overflow-x: hidden;
    padding: 0 1rem;
    margin-bottom: 1rem;
    position: relative;
  }
}
