dialog {
  user-select: none;
  border: none;
  padding: 0;
  iframe {
    width: 100%;
    height: 100%;
  }
  .container {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 360px;
    height: 306px;
    &.loaded {
      width: 400px;
      height: 410px;
    }
  }
  &.loaded {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
