<a href=""></a>
<div>
  <h1 i18n>The Donation Statement of Deepin Store</h1>
  <h2 i18n>Why donate an application?</h2>
  <p i18n>In the open source community, anyone can obtain, copy and distribute source code for free all the time. Many developers
    have spent their enthusiasm, ability and spare time on developing a lot of excellent software for Linux users. However,
    many outstanding open source free application has stopped updating, due to the limited time of developers or the economic
    pressure for community operation.</p>
  <p i18n>Therefore, under the condition of respecting the labor results of developers and community rules, Deepin Store provides
    the donation channel to help developers and community as users want, hoping that the donation incomes encourage the application
    authors and offer the necessary operating expenses for the open source community.
    <br>In addition, many Linux versions of excellent commercial software are unknown by the public, so various excellent and
    free (or trial) closed source applications have been collected in Deepin Store based on user recommendations. The donation
    incomes of these applications present the strong demand of excellent software from Linux community and users, which will
    be recognized by software companies.</p>
  <p i18n>The purpose of donation are specifically as follows:</p>
  <ol>
    <li i18n>Making it possible that the developers and the packagers can get recognition and encouragement from users;</li>
    <li i18n>Obtaining funds to support a variety of practical needs, such as high-level application servers and bandwidth;</li>
    <li i18n>Encouraging community developers and business developers to actively develop, iterate and maintain applications;</li>
    <li i18n>Providing a distribution platform for open source software and Linux commercial software, to attract more developers
      to participate in constructing the community ecology.</li>
  </ol>
  <p i18n>In Deepin Store, whether it is open source or free closed source software, the donation channel is open by default, with
    the functions of income claiming, extracting, distributing, and so on.</p>
  <h2 i18n>What is the donation?</h2>
  <p i18n>To appreciate for the positive contributions of community developers, and let developers get the direct recognition from
    users, the "Donation" mechanism is developed for individual developers and Linux software companies to get reasonable
    rewards.
  </p>
  <p i18n>Note: Donation does not mean purchasing applications. Many apps in Deepin Store are free to use without money. Donation
    is not a mandatory requirement, users can download and use the applications completely for free. To show the approval
    of the application, users can donate a small amount of money to the authors and the packagers voluntarily.</p>
  <h2 i18n>How to distribute the donation incomes?</h2>
  <p i18n>The donation incomes of each application is distributed by 6:2:2 to developer, packager, and operator currently. (Note:
    The distribution rules may change in the future according to the operation policy)</p>
  <p i18n>We will contact the original application developers or organizations proactively, to help them claim their software and
    provide official installation packages in Deepin Store. If the developer and the packager of an app are the same person
    or organization, 80% (60% + 20%) of the incomes are owned by that person or organization, and the operator gets the rest
    20%.
  </p>
  <p i18n>If the personal income tax is involved in law, in China, Wuhan Deepin Technology Co. Ltd. can help withhold the income
    tax; in other regions, the author has to declare the tax on his or her own.</p>
  <h2 i18n>How to extract the donation?</h2>
  <p i18n>Developers and packagers should register Deepin ID and then log into personal platform:
    <a (click)="open('https://dstore-metadata.deepin.org')">https://dstore-metadata.deepin.org</a> to view the application list they developed or packaged. They can also view the
    summary and the details of the donation amount for each application. When the total amount reaches ￥100 CNY (or reaches
    $20 USD), a withdrawal can be applied for and will be processed within 5 working days after official check. Developers
    and packagers can track the withdrawal status at any time.</p>
  <h2 i18n>How to deal with the donation incomes not claimed?</h2>
  <p i18n>If some application developers are unreachable or have not claimed their software, deepin team will summarize and extract
    this part of donation incomes in December each year, and donate the unclaimed amount to other important open source communities
    or organizations that need support. (Specific grantees and amount information will be publicly released in November and
    seek advice from communities)</p>
  <h2 i18n>How to be an author?</h2>
  <p i18n>Deliver your own app as an author, or claim to be the author if your app has already been in Deepin Store. Currently there
    is not an open self-service claiming channel, please contact
    <a (click)="open('mailto:appstore@deepin.com')">appstore@deepin.com</a>
  </p>
  <p i18n>Requirements: The author should be the original personal developer or developer team, and the application should meet the
    collection rules or has been put in Deepin Store, see:
    <a (click)="open('https://www.deepin.org/deliver-applications')">https://www.deepin.org/deliver-applications</a>
  </p>
  <h2 i18n>How to be an packager?</h2>
  <p i18n>The packager should provide the package and the metadata as the application requirements of Deepin Store. At present, there
    is not an open automatic packaging channel. To be a packager, please contact
    <a (click)="open('mailto:appstore@deepin.com')">appstore@deepin.com</a> for packaging guide. When a third party packaging channel is officially open, there will be a
    notice in community.
  </p>
  <p i18n>After becoming a packager of a certain app, when the source app is updated, the packager must package and update the app
    in Deepin Store within one week. If there are three times of delays, or an update is delayed for more than two weeks,
    the packager will have no permission on the app any longer, and the subsequent donation will no longer belong to the
    packager.
  </p>
  <p i18n>
    If the original author provides a qualified package, or there is already a qualified packager, we will not accept a new packager
    for that app. Application in flatpak format is in priority, so if the app does not have a flatpak package, the packager
    that delivers it in flatpak format will be accepted.
  </p>
  <h2 i18n>Notes</h2>
  <ul>
    <li i18n>
      The donation function is set by default for each application in Deepin Store. If the original developer or the developer
      company does not want this feature, please contact us at
      <a (click)="open('mailto:appstore@deepin.com')">appstore@deepin.com</a> to close the "Donation" channel.
    </li>
    <li i18n>If the original developer or the company does not permit software distribution in Deepin Store due to the copyright,
      please contact us at
      <a (click)="open('mailto:appstore@deepin.com')">appstore@deepin.com</a> to remove the application.
    </li>
  </ul>
</div>