.appInfo {
  color: var(--main-color);
  display: flex;
  .info-left {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .icon {
      width: 96px;
      height: 96px;
      cursor: default;
    }
    button {
      min-width: 8rem;
    }
    .jobButton {
      min-width: 8rem;
    }
  }
  .info-right {
    flex: 9;
    .title {
      margin: 2rem 0;
      font-size: 2em;
    }
    .content {
      display: flex;
      .desc {
        div {
          height: 2rem;
          line-height: 2rem;
          color: gray;
          text-align: left;
          white-space: nowrap;
          margin-right: 0.5rem;
        }
      }
      .info {
        div {
          min-height: 2rem;
          line-height: 2rem;
        }
        .webSite {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 20rem;
          cursor: pointer;
        }
      }
    }
  }
}
.rate {
  display: flex;
  align-items: baseline;
  .details {
    margin-left: 1rem;
  }
}
.hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tip {
  text-align: center;
  .tipButton {
    display: -webkit-inline-box;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    border: 1px solid;
    word-spacing: 0.3rem;
    color: #0c9cf0;
  }
  .tipList {
    display: flex;
    justify-content: center;
    align-items: center;
    .iconList {
      margin-right: 1rem;
      border: #0c9cf0;
      .icon {
        margin: -0.5rem;
        border-radius: 50%;
      }
    }
  }
}
.dropOff {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: gray;
  }
  a {
    color: #0c9cf0;
  }
  * {
    margin: 0.3rem 0;
  }
}
.toRight {
  margin: 0 0.5rem;
}
.selectable {
  user-select: text;
}
.pre {
  white-space: pre-line;
}
.ad {
  width: 100%;
  height: 3rem;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
