<img class="close">
<ng-template #$payForm>
  <div class="title">
    <h2 i18n>Donate</h2>
  </div>
  <div class="gird">
    <label i18n>Amount:</label>
    <div class="amount">
      <input type="number"
             step="0.01"
             [value]="amount"
             (input)="inputChange($event.target)">
      <div class="rand"
           (click)="rand()"
           i18n>Random</div>
    </div>
    <label i18n>Payment:</label>
    <div class="payment">
      <label>
        <input type="radio"
               name="payment"
               [(ngModel)]="payment"
               [value]="Payment.WeChat">
        <img src="/assets/icons/wechat.svg">
      </label>
      <label>
        <input type="radio"
               name="payment"
               [(ngModel)]="payment"
               [value]="Payment.AliPay">
        <img src="/assets/icons/alipay.svg">
      </label>
      <br>
      <label>
        <input type="radio"
               name="payment"
               [(ngModel)]="payment"
               [value]="Payment.PayPal">
        <img src="/assets/icons/paypal.svg">
      </label>
    </div>
    <button class="btn"
            (click)="pay();$event.target.disabled=true"
            i18n>Pay Now</button>
  </div>
</ng-template>
<div class="waitPay"
     *ngIf="waitPay$|async as check;else $payForm">

  <ng-container *ngIf="check.isExist;else $wait">
    <img class="icon"
         src="/assets/icons/ok.svg">
    <br>
    <div>Payment Succeeded!</div>
  </ng-container>
  <ng-template #$wait>
    <ng-container *ngIf="qrImg;else $msg">
      <img [src]="qrImg">
      <img class="wait">
      <div>Paying, please wait...</div>
    </ng-container>
    <ng-template #$msg>
      <img class="wait"
           [style.width.rem]="4">
      <div>Paying, please wait...</div>
    </ng-template>
  </ng-template>
</div>