<div *ngIf="app$|async as app;else $loading">
  <div class="appInfo">
    <div class="info-left">
      <img class="icon"
           [src]="metadataServer+'/'+app.icon">
      <br>
      <ng-container *ngIf="version$|async as $version">
        <ng-container *ngIf="job$|async as $job;else $ctlBtn">
          <ng-container [ngSwitch]="$job.type">
            <button *ngSwitchCase="StoreJobType.download"
                    i18n>Downloading</button>
            <button *ngSwitchCase="StoreJobType.install"
                    i18n>Installing</button>
            <button *ngSwitchCase="StoreJobType.uninstall"
                    i18n>Uninstalling</button>
          </ng-container>

        </ng-container>
        <ng-template #$ctlBtn>
          <button *ngIf="!$version.localVersion;else $open"
                  (click)="install(app)"
                  i18n>Install</button>
          <ng-template #$open>
            <button *ngIf="!$version.upgradable;else $update"
                    (click)="open(app.name)"
                    i18n>Open</button>
          </ng-template>
          <ng-template #$update>
            <button (click)="install(app)"
                    i18n>Update</button>
          </ng-template>
        </ng-template>
      </ng-container>
    </div>
    <div class="info-right">
      <div class="title">{{app.localInfo.description.name}}</div>
      <div class="content">
        <div class="desc">
          <div i18n>Rating:</div>
          <div i18n>Category:</div>
          <ng-container *ngIf="app.version">
            <div i18n>Version:</div>
            <div i18n>Size:</div>
          </ng-container>
          <div i18n>Update Date:</div>
          <div i18n>Website:</div>
          <div i18n>Description:</div>
        </div>
        <div class="info">
          <div class="rate">
            <dstore-star [rate]="app.rate"></dstore-star>
            <span class="details">{{app.rate.toFixed(1)}}</span>
            <span class="details"
                  i18n>{{app.downloads}} downloads</span>
            <span class="details"
                  i18n>{{app.ratings}} ratings</span>
          </div>
          <div>{{app.localCategory}}</div>
          <ng-container *ngIf="app.version">
            <div>{{app.version.remoteVersion || app.version.localVersion}}</div>
            <div>
              <ng-container>
                <ng-container *ngIf="app.version.localVersion && !app.version.upgradable;else $size"
                              i18n>Downloaded</ng-container>
                <ng-template #$size>
                  <ng-container *ngIf="size$|async as $size; else $msg">{{$size|sizeHuman}}</ng-container>
                  <ng-template #$msg
                               let-$size>
                    <ng-container *ngIf="$size===0;else $calc"
                                  i18n>Downloaded</ng-container>
                    <ng-template #$calc
                                 i18n>Calculating</ng-template>
                  </ng-template>
                </ng-template>
              </ng-container>
            </div>
          </ng-container>
          <div>{{app.updateTime|date:'longDate'}}
            <span class="toRight">></span>
            <button class="reminder"
                    (click)="reminder(app.name)"
                    i18n>Ask for update</button>
          </div>
          <div class="webSite">{{app.homePage}}</div>
          <div>
            {{app.localInfo.description.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="screenshots">
    <!-- [about crossOrigin attribute]https://stackoverflow.com/questions/20424279/canvas-todataurl-securityerror/27260385#27260385 -->
    <img *ngFor="let screenshot of app.localInfo.images.screenshot;index as $index"
         [id]="'screenshot-'+$index"
         [src]="metadataServer+'/'+screenshot"
         (click)="screenshotClick('screenshot-'+$index); indication.selectIndex=$index"
         crossOrigin="anonymous"
         (dblclick)="previewImage($event.target)">
  </div>
  <dstore-indication [count]="app.localInfo.images.screenshot.length"
                     #indication
                     (change)="screenshotClick('screenshot-'+$event)"></dstore-indication>


  <ng-container *ngIf="app.version">
    <div class="donateBtn">
      <button i18n
              (click)="donateOpen()">Donate</button>
    </div>
    <div class="hr"></div>
    <br>
    <app-app-comment [appName]="app.name"
                     [version]="app.version.remoteVersion || app.version.localVersion"></app-app-comment>

  </ng-container>
</div>
<ng-template #$loading
             let-$app>
  <app-wait *ngIf="$app===null;else $DropOff"></app-wait>
  <ng-template #$DropOff>
    <div class="dropOff">
      <img class="tips_bg"
           src="/assets/icons/tips_bg.svg">
      <span i18n>Sorry</span>
      <span i18n>It's in adjustment, you can return to</span>
      <a href="javascript:history.go(-1)"
         i18n>Previous</a>
    </div>
  </ng-template>

  <ng-template>
    <div>
      <span i18n>Sorry</span>
      <span i18n>Connection failed, please check your network and refresh</span>
    </div>
  </ng-template>

  <ng-template>
    <div>
      <span i18n>Sorry</span>
      <span i18n>Something goes wrong.</span>
    </div>
  </ng-template>
</ng-template>

<dialog class="donateDialog"
        #$donate
        (click)="dialogClick($event.target)">
  <app-donate [appName]="appName"
              *ngIf="$donate.open"
              (close)="$donate.close()"></app-donate>
</dialog>