.appInfo {
  display: flex;
  .info-left {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .controlBtn {
      width: 8rem;
      text-align: center;
      background-color: #34b2f9;
      color: white;
      border-radius: 5px;
    }
  }
  .info-right {
    flex: 9;
    .title {
      font-size: 2em;
    }
    .content {
      display: flex;
      .desc {
        div {
          height: 2rem;
          color: gray;
          text-align: right;
          white-space: nowrap;
          &::after {
            content: '：';
          }
        }
      }
      .info {
        div {
          min-height: 2rem;
        }
      }
    }
  }
}
.score {
  position: relative;
  font-size: 8px;
  div:first-child {
    position: absolute;
    overflow: hidden;
    top: 0;
    &::before {
      content: '★★★★★';
      color: darkgoldenrod;
      font-weight: bold;
    }
  }
  &::before {
    content: '★★★★★';
    color: lightgray;
    font-weight: bold;
  }
  .details {
    word-spacing: 1rem;
  }
}

.screenshots {
  .imgList {
    display: flex;
    div {
      margin: 1rem 2rem;
      margin-left: 0;
      border: 1px solid blue;
      img {
        height: 200px;
      }
    }
  }
  overflow-x: hidden;
}

.tip {
  text-align: center;
  .tipButton {
    display: -webkit-inline-box;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    border: 1px solid;
    word-spacing: 0.3rem;
    color: #0c9cf0;
  }
  .tipList {
    display: flex;
    justify-content: center;
    align-items: center;
    .iconList {
      margin-right: 1rem;
      border: #0c9cf0;
      .icon {
        margin: -0.5rem;
      }
    }
  }
}
