<div *ngIf="app;else $loading">
  <div class="appInfo">
    <div class="info-left">
      <img class="icon"
           [src]="app|icon">
      <br>
      <ng-container *ngIf="app.version">
        <ng-container *ngIf="job$|async as job;else cltButton">
          <ng-container *ngIf="job.status===StoreJobStatus.paused;else running">

            <app-progress-button text="Paused"
                                 i18n-text
                                 [progress]="job.progress"
                                 (click)="start(job.job)"></app-progress-button>
          </ng-container>
          <ng-template #running>
            <ng-container *ngIf="job.status!==StoreJobStatus.failed;else cltButton"
                          [ngSwitch]="job.type">
              <app-progress-button text="Downloading"
                                   i18n-text
                                   *ngSwitchCase="StoreJobType.download"
                                   [progress]="job.progress"
                                   [disabled]="!job.cancelable"
                                   (click)="pause(job.job)"></app-progress-button>
              <app-progress-button text="Installing"
                                   i18n-text
                                   *ngSwitchCase="StoreJobType.install"
                                   [progress]="job.progress"
                                   [disabled]="!job.cancelable"
                                   (click)="pause(job.job)"></app-progress-button>
              <app-progress-button text="Uninstalling"
                                   i18n-text
                                   *ngSwitchCase="StoreJobType.uninstall"
                                   [progress]="job.progress"
                                   [disabled]="!job.cancelable"
                                   (click)="pause(job.job)"></app-progress-button>
            </ng-container>
          </ng-template>
        </ng-container>
        <ng-template #cltButton>
          <button *ngIf="!app.version.localVersion;else $update"
                  (click)="install(app)"
                  i18n>Install</button>
          <ng-template #$update>
            <button *ngIf="app.version.upgradable; else $open"
                    (click)="install(app)"
                    i18n>Update</button>
          </ng-template>
          <ng-template #$open>
            <button *ngIf="appOpenable(app); else $installed"
                    (click)="open(app.name)"
                    i18n>Open</button>
          </ng-template>
          <ng-template #$installed>
            <button i18n>Installed</button>
          </ng-template>
        </ng-template>
      </ng-container>
    </div>
    <div class="info-right">
      <div class="title selectable">{{app.localInfo.description.name}}</div>
      <div class="content">
        <div class="desc">
          <div i18n>Rating:</div>
          <div i18n>Category:</div>
          <ng-container *ngIf="app.version">
            <div i18n>Version:</div>
            <div i18n>Size:</div>
          </ng-container>
          <div i18n>Updated Date:</div>
          <div i18n>Website:</div>
          <div i18n>Description:</div>
        </div>
        <div class="info">
          <div class="rate">
            <dstore-star [rate]="app.rate"></dstore-star>
            <span class="details">{{app.rate.toFixed(1)}}</span>
            <span class="details"
                  i18n>{{app.downloads}} downloads</span>
            <span class="details"
                  i18n>{{app.ratings}} ratings</span>
          </div>
          <div>{{app.localCategory}}</div>
          <ng-container *ngIf="app.version">
            <div>{{app.version.remoteVersion || app.version.localVersion}}</div>
            <div>
              <ng-container *ngIf="size===null"
                            i18n>Calculating</ng-container>
              <ng-container *ngIf="size===0"
                            i18n>Downloaded</ng-container>
              <ng-container *ngIf="size>0">{{size|sizeHuman}}</ng-container>
            </div>
          </ng-container>
          <div>{{app.updateTime|date:'longDate'}}
            <span class="toRight">></span>
            <button class="reminder"
                    (click)="reminder(app.name)"
                    i18n>Ask for update</button>
          </div>
          <div class="webSite">
            <a target="_blank"
               [href]="app.homePage">{{app.homePage}}</a>
          </div>
          <div class="selectable">
            {{app.localInfo.description.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <ng-container *ngIf="[app.localInfo.images.screenshot,app.localInfo.images.screenshotHD]|fitImage as screenshotList">
    <div class="screenshots">
      <!-- [about crossOrigin attribute]https://stackoverflow.com/questions/20424279/canvas-todataurl-securityerror/27260385#27260385 -->
      <img *ngFor="let screenshot of screenshotList;index as $index"
           id="screenshot-{{$index}}"
           [src]="metadataServer+'/'+screenshot"
           (click)="screenshotClick('screenshot-'+$index); indication.selectIndex=$index"
           crossOrigin="anonymous"
           (dblclick)="previewImage($event.target)">
    </div>
    <dstore-indication [count]="screenshotList.length"
                       #indication
                       (change)="screenshotClick('screenshot-'+$event)"></dstore-indication>
  </ng-container>

  <ng-container *ngIf="app.version">
    <div class="donateBtn">
      <button i18n
              (click)="donateOpen()">Donate</button>
    </div>
    <app-donors [appName]="app.name"></app-donors>
    <div class="hr"></div>
    <br>
    <app-app-comment [appName]="app.name"
                     [version]="app.version.remoteVersion || app.version.localVersion"></app-app-comment>
    <div class="ad"
         *ngIf="adVisible|async"
         i18n>CDN supported by UPYUN</div>
  </ng-container>
</div>

<ng-template #$loading
             let-$app>
  <app-wait *ngIf="app===null;else $DropOff"></app-wait>

  <ng-template #$DropOff>
    <div class="dropOff">
      <img class="tips_bg"
           src="/assets/icons/tips_bg.svg">
      <span i18n>Sorry</span>
      <span i18n>It's in adjustment, you can return to</span>
      <a href="javascript:history.go(-1)"
         i18n>Previous</a>
    </div>
  </ng-template>

  <ng-template>
    <div>
      <span i18n>Sorry</span>
      <span i18n>Connection failed, please check your network and refresh</span>
    </div>
  </ng-template>

  <ng-template>
    <div>
      <span i18n>Sorry</span>
      <span i18n>Something goes wrong.</span>
    </div>
  </ng-template>
</ng-template>

<dialog class="donateDialog"
        #$donate
        (click)="dialogClick($event.target)">
  <app-donate [appName]="app.name"
              *ngIf="$donate.open"
              (close)="$donate.close()"></app-donate>
</dialog>