.md ::ng-deep {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  * {
    user-select: auto;
  }
  div {
    text-align: left;
    padding: 0.5rem 2rem;
  }
  h1 {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    border-bottom: 1px solid #e8ecf1;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  p,
  ul,
  li {
    font-size: 1rem;
    line-height: 1.7;
    outline: none;
    -webkit-font-smoothing: antialiased;
  }
  a {
    outline: none;
    text-decoration: none;
    color: #70b1e7;
  }
}
