.searchEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .title {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
  .kw {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 8rem;
  }
  .gray-text {
    color: gray;
  }
  .recommend {
    cursor: pointer;
    color: #1d6bd3;
  }
}
