.titleGroup {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid var(--main-title-hr-color);
  padding: 0.8rem 0;
  .title {
    font-size: 18px;
    font-weight: 500;
    max-width: 30rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .number {
    line-height: 1rem;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: gray;
  }
  .dropdown {
    display: flex;
    align-items: center;
    &:after {
      display: inline-block;
      content: '';
      width: 9px;
      height: 9px;
      margin-left: 0.5rem;
      background-repeat: no-repeat;
      background-position-x: 0, 9px, 9px;
      background-image: var(--down-icon);
    }
    &:hover {
      &:after {
        background-position-x: 9px, 0, 9px;
      }
    }
    &:active {
      &:after {
        background-position-x: 9px, 9px, 0;
      }
    }
  }
  .dropdown-menu {
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    list-style: none;
    top: 2rem;
    right: 1rem;
    border-radius: 5px;
    padding: 5px 0;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 9px var(--main-title-hr-color), 0 0 0 1px var(--main-title-hr-color);
    outline: none;
    li {
      display: flex;
      align-items: center;
      padding: 2px 2rem;
      padding-left: 15px;
      margin: 3px 0;
      &:hover {
        background-color: #2ca7f8;
        color: white;
        .ok {
          content: var(--select-icon);
        }
      }
    }
  }
}

.select {
  width: 9px;
  height: 9px;
  margin-right: 6px;
  display: inline-block;
  &.ok {
    content: var(--select-icon);
  }
}
