Source: deepin-appstore
Maintainer: Xu Shaohua <xushaohua@deepin.com>
Section: admin
Priority: optional
Build-Depends:
 ca-certificates,
 cmake,
 debhelper (>= 9),
 git,
 libdtkwidget-dev,
 libqcef-dev,
 libqt5webchannel5-dev,
 libsass0,
 pkg-config,
 qttools5-dev-tools,
 qttools5-dev,
 python3-lxml,
 nodejs-bin | nodejs
Standards-Version: 3.9.5
Homepage: https://deepin.org
Vcs-Git: https://cr.deepin.io/dstore/deepin-appstore
Vcs-Browser: https://cr.deepin.io/dstore/deepin-appstore

Package: deepin-appstore
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 lastore-daemon (>=0.9.62),
 libqt5dbus5,
 libqt5sql5-sqlite,
 deepin-appstore-data [!mips64el],
 deepin-appstore-data-aot [mips64el]
Replaces: dstore-client
Description: Deepin App Store
 Deepin App Store Client.

Package: deepin-appstore-data
Architecture: all
Replaces: deepin-appstore ( <= 5.0.2.6+r39 )
Description: Deepin App Store web data
 Deepin App Store web data, build from npm

Package: deepin-appstore-data-aot
Architecture: all
Replaces: deepin-appstore ( <= 5.0.2.6+r39 )
Description: Deepin App Store web data
 Deepin App Store web data, build from npm, opt with aot
