Source: deepin-appstore
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Section: admin
Priority: optional
Build-Depends:
 devscripts, debhelper,
 cmake, pkg-config,
 libglib2.0-dev,
 libqt5webkit5-dev, libqt5x11extras5-dev,
 libxext-dev,
 lastore-daemon-dev (>=0.9.0),wget,ca-certificates,
Standards-Version: 3.9.5
Homepage: https://gitcafe.com/Deepin/deepin-appstore/
Vcs-Git: git://gitcafe.com/Deepin/deepin-appstore.git
Vcs-Browser: https://gitcafe.com/Deepin/deepin-appstore

Package: deepin-appstore
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 lastore-daemon (>=0.9.0), deepin-appstore-data
Replaces: dstore-client
Description: Deepin App Store
 Deepin App Store Client.

Package: deepin-appstore-data
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deepin appstore data file.
