Source: deepin-appstore
Maintainer: Xu Shaohua <xushaohua@deepin.com>
Section: admin
Priority: optional
Build-Depends:
 ca-certificates,
 cmake,
 debhelper (>= 9),
 git,
 libdtkwidget-dev,
 libqcef-dev,
 libqt5webchannel5-dev,
 libsass-dev,
 pkg-config,
 deepin-gettext-tools,
 qttools5-dev-tools,
 qttools5-dev,
 python3-lxml,
 golang-go,
 golang-dlib-dev,
 golang-github-linuxdeepin-go-dbus-factory-dev,
 golang-github-go-ini-ini-dev,
 libdframeworkdbus-dev,
 nodejs-bin (>=10) [amd64] | nodejs (>=10) [amd64] | node (>=10) [amd64]
Standards-Version: 3.9.5
Homepage: https://deepin.org
Vcs-Git: https://cr.deepin.io/dstore/deepin-appstore
Vcs-Browser: https://cr.deepin.io/dstore/deepin-appstore

Package: deepin-appstore
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 lastore-daemon (>=0.9.62),
 libqt5dbus5,
 libqt5sql5-sqlite,
 deepin-sync-daemon,
 deepin-deepinid-client,
 deepin-appstore-data (=${binary:Version}) [!mips64el],
 deepin-appstore-data-aot (=${binary:Version}) [mips64el]
Replaces: dstore-client
Description: Deepin App Store
 Deepin App Store Client.

Package: deepin-appstore-data
Architecture: all
Replaces: deepin-appstore ( <= 5.0.2.6+r39 )
Description: Deepin App Store web data
 Deepin App Store web data, build from npm

Package: deepin-appstore-data-aot
Architecture: all
Replaces: deepin-appstore ( <= 5.0.2.6+r39 )
Description: Deepin App Store web data
 Deepin App Store web data, build from npm, opt with aot
