#!/usr/bin/make -f

export DH_VERBOSE=1
export QT_SELECT=qt5

%:
	dh $@  --parallel

ifeq ($(DEB_BUILD_ARCH), amd64)
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DUSE_SYSTEM_RESOURCES=ON
else
override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DUSE_SYSTEM_RESOURCES=ON -DBUILD_WEB_RESOURCES=OFF
endif

override_dh_auto_build:
ifneq (,$(wildcard .git/config))
	git submodule update --init --recursive
	git submodule update --remote
else
	rm -rf src/web/node_modules
	git clone -b deepin-appstore https://cr.deepin.io/vendor-deps src/web/node_modules

	rm -rf src/web/src/app/dstore-client.module
	git clone -b client https://cr.deepin.io/dstore-web-components src/web/src/app/dstore-client.module
endif
