:host {
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.imgBox {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &.active {
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  }
}
img {
  width: 100%;
  border-radius: 5px;
}
span {
  font-size: 13px;
  white-space: nowrap;
}
