<ng-container *ngFor="let section of sectionList$|async;index as $index"
              [ngSwitch]="section.type">

    <dstore-carousel *ngSwitchCase="SectionType.Carousel"
                     [style.gridColumnEnd]='"span "+section.colSpan'
                     [style.gridRowEnd]='"span 1"'
                     [appFilter]="appFilter"
                     [carouselList]="section.items"></dstore-carousel>

    <dstore-cover *ngSwitchCase="SectionType.Cover"
                  [style.gridColumnEnd]='"span "+section.colSpan'
                  [style.gridRowEnd]='"span "+section.rowSpan*2'
                  [appFilter]="appFilter"
                  [section]="section"
                  [apps]="section.items"></dstore-cover>

    <dstore-ranking *ngSwitchCase="SectionType.Ranking"
                    [style.gridColumnEnd]='"span "+section.colSpan'
                    [style.gridRowEnd]='"span "+section.ranking.count'
                    [appFilter]="appFilter"
                    [section]="section"></dstore-ranking>

    <dstore-phrase *ngSwitchCase="SectionType.Phrase"
                   [style.gridColumnEnd]='"span "+section.colSpan'
                   [style.gridRowEnd]='"span "+section.rowSpan'
                   [phraseList]="section.items"
                   [appFilter]="appFilter"
                   [section]="section"></dstore-phrase>

    <dstore-icon *ngSwitchCase="SectionType.Icon"
                 [style.gridColumnEnd]='"span "+section.colSpan'
                 [style.gridRowEnd]='"span "+section.rowSpan'
                 [section]="section"
                 [appFilter]="appFilter"
                 [apps]="section.items"></dstore-icon>

    <dstore-topic *ngSwitchCase="SectionType.Topic"
                  [style.gridColumnEnd]='"span "+section.colSpan'
                  [style.gridRowEnd]='"span "+section.rowSpan'
                  [section]="section"
                  [sectionIndex]="$index"
                  [topicList]="section.items"></dstore-topic>

    <dstore-assemble *ngSwitchCase="SectionType.Assemble"
                     [style.gridColumnEnd]='"span "+section.colSpan'
                     [style.gridRowEnd]='"span "+section.rowSpan'
                     [section]="section"
                     [appFilter]="appFilter"
                     [assembleList]="section.items"></dstore-assemble>
</ng-container>