<dstore-title [title]="section.title|fitLanguage"></dstore-title>
<div class="topicList">
  <ng-container *ngFor="let $index of section.rowSpan*section.colSpan|range">
    <div class="topicItem"
         *ngIf="topicList[$index] as $topic;else $empty"
         [routerLink]="['/topic',sectionIndex,$index]">
      <img class="topicCover"
           [src]="server+'/images/'+([$topic.cover,$topic.coverHD]|fitImage)">
      <div class="title">{{$topic.name|fitLanguage}}</div>
    </div>
    <ng-template #$empty>
      <div class="topicItem empty">
      </div>
    </ng-template>
  </ng-container>
</div>