.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @for $var from 0 to 40 {
    &.count-#{$var} {
      .item:not(.empty):nth-child(n + #{$var + 1}) {
        display: none;
      }
    }
  }
}

section {
  width: 226px;
  padding: 5px;
  display: flex;
  align-items: center;
  main {
    display: flex;
    flex: 1;
    margin-left: 1rem;
    padding: 5px 0;
    overflow: hidden;
    .number {
      width: 1.5rem;
    }
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .name,
    .category {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .subtitle {
      color: gray;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .control {
    display: none;
  }
  &.hover,
  &:hover {
    background-color: var(--main-item-bg-color-hover);
    .control {
      display: block;
    }
  }
}

.empty {
  height: 0;
  padding: 0;
}
