<div class="errorType"
     [ngSwitch]="errType"
     (click)="dialog.showModal()">
  <ng-container *ngSwitchCase="StoreJobErrorType.dependenciesBroken"
                i18n>Failed to install, broken dependencies, please retry</ng-container>
  <ng-container *ngSwitchCase="StoreJobErrorType.dpkgInterrupted"
                i18n>Failed to install, it was interrupted, please retry</ng-container>
  <ng-container *ngSwitchCase="StoreJobErrorType.fetchFailed"
                i18n>Failed to download, please retry</ng-container>
  <ng-container *ngSwitchCase="StoreJobErrorType.dpkgError"
                i18n>Failed to install, dpkg error</ng-container>
  <ng-container *ngSwitchCase="StoreJobErrorType.unmetDependencies"
                i18n>Failed to install, unmet dependencies</ng-container>
  <ng-container *ngSwitchCase="StoreJobErrorType.insufficientSpace"
                i18n>Failed to install, insufficient space, please clean and retry</ng-container>
  <ng-container *ngSwitchDefault
                i18n>Failed to install</ng-container>
</div>

<dialog #dialog
        (click)="dialog.close()">
  <div (click)="click($event)">
    <h3 i18n>Details</h3>
    <pre>{{errDetail}}</pre>
  </div>
</dialog>