<dstore-title [title]="section.title|fitLanguage"
              [more]="moreNav"></dstore-title>

<div class="iconList">
  <ng-container *ngFor="let $index of (section.rowSpan*section.colSpan)|range">
    <div class="iconItem"
         [class.job]="jobs[$app.name] || jobsNames.has($app.name)"
         [routerLink]="$app.name"
         *ngIf="appList[$index] as $app;else $empty">
      <img [src]="metadataServer+'/'+$app.icon"
           class="icon">
      <div class="info">
        <div class="base">
          <span class="appTitle">{{$app.localInfo.description.name}}</span>
          <span class="subtitle"
                [routerLink]="['/category',$app.category]">{{$app.localCategory}}</span>
        </div>
        <div class="hover">
          <ng-container *ngIf="jobs[$app.name] as job;else controlBtn">
            <dstore-circle-button [running]="[StoreJobStatus.running,StoreJobStatus.ready,StoreJobStatus.end].includes(job.status)"
                                  [progress]="job.progress"
                                  [disabled]="!job.cancelable"
                                  (runningChange)="$event?start(job.job):pause(job.job)"></dstore-circle-button>
          </ng-container>

          <ng-template #controlBtn>
            <div #ctlBtn>
              <dstore-job-button [version]="$app.version"
                                 [appName]="$app.name"
                                 [localName]="$app.localInfo.description.name"
                                 [openType]="$app.extra['open']"
                                 (start)="ctlBtn.hidden=true"></dstore-job-button>
            </div>
            <dstore-circle-button [running]="true"
                                  *ngIf="ctlBtn.hidden"></dstore-circle-button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #$empty>
  <div class="iconItem empty">
    <img class="icon">
    <div class="info">
      <span class="truncate"></span>
      <span class="subtitle"></span>
    </div>
  </div>
</ng-template>