@import '../style';
.iconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .iconItem {
    width: 226px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    &:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.05);
      .info {
        .hover {
          display: flex;
        }
      }
    }
    &.job {
      .info {
        .hover {
          display: flex;
        }
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      min-width: 0;
      flex-grow: 1;
      .base {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 0;
        .appTitle {
          align-self: unset;
          min-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .hover {
        display: none;
        align-items: center;
        padding-left: 4px;
      }
    }
  }
}
