<ng-container *ngIf="count">
        <button [disabled]="pageIndex===0"
                (click)="pageIndexChange.emit(pageIndex-1)">&lt;</button>
        <ng-container *ngIf="!pageList.includes(0)">
                <button (click)="pageIndexChange.emit(0)">1</button>
                ...
        </ng-container>
        <button *ngFor="let p of pageList"
                [class.active]="pageIndex===p"
                (click)="pageIndexChange.emit(p)">{{p+1}}</button>

        <ng-container *ngIf="!pageList.includes(count-1)">
                ...
                <button (click)="pageIndexChange.emit(count-1)">{{count}}</button>
        </ng-container>
        <button [disabled]="pageIndex===count-1"
                (click)="pageIndexChange.emit(pageIndex+1)">&gt;</button>
</ng-container>