.appList {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  .app {
    width: 228px;
    margin: 1rem 0;
    outline: none;
    .cover {
      border-radius: 5px;
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .control {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          padding: 0.2rem 0.8rem;
          text-align: center;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        color: black;
        white-space: nowrap;
        .category {
          color: gray;
        }
      }
      .star {
        align-self: flex-end;
      }
    }
  }
}
