.appList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  .empty {
    width: 226px;
    padding: 5px;
    height: 0;
  }
  .app {
    width: 226px;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 5px;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.index {
      &:nth-child(-n + 10) {
        .cover::after {
          position: absolute;
          top: 0;
          width: 6rem;
          height: 2rem;
          background: radial-gradient(ellipse farthest-corner, #ffac16, #f2ac16);
          transform: rotateZ(-45deg);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotateZ(-45deg) translateX(-25%) translateY(-40%);
          content: attr(index);
        }
      }
      .name::before {
        content: attr(index) '.';
      }
    }
    .cover {
      border-radius: 4px;
      margin-bottom: 5px;
      width: 226px;
      height: 140px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      background-image: url('/assets/images/default_cover.png');
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        &::before {
          content: url('/assets/images/default_cover.png');
          position: absolute;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      .content {
        .info {
          display: none;
        }
        .hover {
          display: flex;
        }
      }
    }
    &.job {
      .content {
        .info {
          display: none;
        }
        .hover {
          display: flex;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      .info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        .subtitle {
          display: flex;
          justify-content: space-between;
          color: gray;
          font-size: 10px;

          min-width: 0;
          flex-grow: 1;
          white-space: nowrap;
          span {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .hover {
        display: none;
        flex-grow: 1;
        min-width: 0;
        justify-content: space-between;
        .base {
          flex-grow: 1;
          min-width: 0;
          white-space: nowrap;
          .name {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .subtitle {
            color: gray;
            font-size: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .control {
          margin-left: 4px;
          align-self: center;
        }
      }
    }
  }
}
.controlBtn {
  cursor: pointer;
}
