<ng-template #$loading
             let-apps>
  <app-wait *ngIf="apps===null"></app-wait>
</ng-template>
<div class="appList"
     *ngIf="apps as $apps;else $loading">
  <div class="app"
       [class.index]="rankIndex"
       *ngFor="let $app of $apps;index as $index"
       (mouseover)="hoverApp=$app.name">
    <div class="cover"
         [attr.index]="$index+1"
         [routerLink]="$app.name">
      <img [src]="server+'/'+([$app.localInfo.images.cover,$app.localInfo.images.coverHD]|fitImage)">
    </div>
    <div class="content">

      <div class="info"
           *ngIf="!jobs[$app.name]"
           [class.leave]="$app.version">
        <div class="name"
             [attr.index]="$index+1">{{$app.localInfo.description.name}}</div>
        <div class="subtitle"
             [ngSwitch]="subtitle">
          <div>
            <span *ngSwitchCase="'category'"
                  class="category">{{$app.localCategory}}</span>
            <span *ngSwitchCase="'slogan'">
              {{$app.localInfo.description.slogan}} &nbsp;
            </span>
          </div>
          <dstore-star [rate]="$app.rate"></dstore-star>
        </div>
      </div>

      <div class="info"
           [class.hover]="!jobs[$app.name]">
        <div class="title">
          <span class="name"
                [attr.index]="$index+1"
                [routerLink]="$app.name">{{$app.localInfo.description.name}}</span>
        </div>
        <div class="subtitle"
             [ngSwitch]="subtitle">
          <div>
            <span *ngSwitchCase="'category'"
                  class="category"
                  [routerLink]="['/category',$app.category]">{{$app.localCategory}}</span>
            <span *ngSwitchCase="'slogan'"
                  [routerLink]="$app.name">
              {{$app.localInfo.description.slogan}} &nbsp;
            </span>
          </div>
        </div>
      </div>

      <div class="control"
           [class.hover]="!jobs[$app.name]">
        <ng-template #ctlBtn
                     let-$job>
          <ng-container *ngIf="$app.version as $version">
            <ng-container #$btnGroup
                          *ngIf="$job!==null">
              <button *ngIf="!$version.localVersion && $version.remoteVersion"
                      (click)="installApp($app)"
                      i18n>Install</button>
              <button *ngIf="$version.localVersion && !$version.upgradable && appOpenable($app)"
                      (click)="openApp($app.name)"
                      i18n>Open</button>
              <button *ngIf="$version.upgradable"
                      (click)="updateApp($app)"
                      i18n>Update</button>
            </ng-container>
          </ng-container>
        </ng-template>

        <ng-container *ngIf="jobs[$app.name];else ctlBtn">
          <svg width="22px"
               height="22px"
               class="controlBtn"
               *ngIf="jobs[$app.name] as $job">
            <ng-container *ngIf="$job.type=='download'"
                          [ngSwitch]="true">
              <image x="4"
                     y="4"
                     [attr.xlink:href]="'/assets/buttons/pause.svg'"
                     *ngSwitchCase="$job.status=='running' || $job.status=='ready'"
                     (click)="pause($job.job)"></image>
              <image x="4"
                     y="4"
                     [attr.xlink:href]="'/assets/buttons/start.svg'"
                     *ngSwitchCase="$job.status=='paused'"
                     (click)="start($job.job)"></image>
            </ng-container>
            <rect width="100%"
                  height="100%"
                  fill="none"
                  stroke-width="4"></rect>
            <circle cx="50%"
                    cy="50%"
                    r="40%"
                    stroke="black"
                    stroke-opacity="0.05"
                    stroke-width="4"
                    fill="none" />
            <circle cx="50%"
                    cy="50%"
                    r="40%"
                    stroke="#2ca7f8"
                    stroke-width="4"
                    fill="none"
                    [style.transform-origin]="'center'"
                    [style.transform]="'rotate(-90deg)'"
                    attr.stroke-dasharray="calc( 2rem*3.14*{{$job.progress}} ) calc( 2rem * 3.14 * 2 )"></circle>
          </svg>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="app"
       [style.height]="0"
       *ngFor="let a of [1,2,3,4,5,6]"></div>
</div>