.appList {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  .app {
    width: 228px;
    margin: 1rem 5px;
    outline: none;
    .cover {
      border-radius: 5px;
      width: 226px;
      height: 140px;
      position: relative;
      &::before {
        content: url('/assets/images/default_cover.png');
        position: absolute;
      }
      border: solid 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 rgba(255, 255, 255, 0.1);
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .control {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
          padding: 0.2rem 0.8rem;
          text-align: center;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        color: black;
        min-width: 0;
        &.ellipsis::before {
          content: attr(title);
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .category {
          color: gray;
        }
      }
      .star {
        align-self: flex-end;
      }
    }
  }
}
