<dialog #myDialog>
    <form #myForm="ngForm">
        <div
            class="close"
            (click)="close()"
        >
            X
        </div>
        <div class="title">投递应用</div>
        <div>
            应用名称：
            <input
                type="text"
                name="appName"
                [(ngModel)]="recommend.name"
                placeholder="必填"
                required
            >
        </div>
        <div>
            应用类型：
            <select
                name="appType"
                [(ngModel)]="recommend.type"
            >
                <option
                    *ngFor="let r of recommendTypeArray"
                    [value]="r[0]"
                >
                    {{r[1]}}
                </option>
            </select>
        </div>
        <div>
            授权情况：
            <input
                type="text"
                name="authorization"
                [(ngModel)]="recommend.authorization"
                placeholder="必填"
                required
            >
        </div>
        <div>
            应用主页：
            <input
                type="text"
                name="homePage"
                [(ngModel)]="recommend.homePage"
                placeholder="必填"
                required
            >
        </div>
        <div>
            下载地址：
            <input
                type="text"
                name="downloadURL"
                [(ngModel)]="recommend.downloadURL"
                placeholder="必填"
                required
            >
        </div>
        <div>
            <span>其他信息：</span>
            <textarea
                name="extra"
                [(ngModel)]="recommend.extraInfo"
                placeholder="选填"
            ></textarea>
        </div>
        <div>
            <button
                [disabled]="!myForm.form.valid"
                (click)="submit()"
            >
                投递
            </button>
        </div>
    </form>
</dialog>
{{openDialog$|async}}
