<dialog #myDialog>
  <form #myForm="ngForm">
    <img class="close"
         (click)="close()">
    <div class="title"
         i18n>Recommend App</div>
    <div class="grid">
      <span required>Name:</span>
      <input type="text"
             name="appName"
             [(ngModel)]="recommend.name"
             required>

      <span required
            i18n>Type:</span>
      <select name="appType"
              [(ngModel)]="recommend.type">
        <option value="1"
                i18n>Linux App</option>
        <option value="2"
                i18n>Windows App</option>
        <option value="3"
                i18n>WebApp</option>
        <option value="4"
                i18n>Android App</option>
      </select>

      <span required>License:</span>
      <input type="text"
             name="authorization"
             [(ngModel)]="recommend.authorization"
             required>

      <span required>Homepage:</span>
      <input type="url"
             name="homePage"
             [(ngModel)]="recommend.homePage"
             required>

      <span required>Download Site:</span>
      <input type="url"
             name="downloadURL"
             [(ngModel)]="recommend.downloadURL"
             required>


      <span i18n>Others:</span>
      <textarea name="extra"
                [(ngModel)]="recommend.extraInfo"></textarea>
    </div>
    <button [disabled]="!myForm.form.valid"
            (click)="submit()"
            i18n>Submit</button>

  </form>
</dialog>
{{openDialog$|async}}