<div class="nav"
     #nav
     (mousewheel)="mousewheel($event)">
     <div class="navItem"
          routerLinkActive="active"
          [routerLink]="['index']">
          <div class="categoryIcon homepage"></div>
          <div class="title"
               i18n>Home</div>
     </div>
     <div class="navItem"
          routerLinkActive="active"
          [routerLink]="['ranking']">
          <div class="categoryIcon ranking"></div>
          <div class="title"
               i18n>Rankings</div>
     </div>
     <ng-container *ngIf="cs$|async as $cs;else $default">
          <ng-container *ngIf="$cs.length>0;else $default">
               <div class="navItem"
                    routerLinkActive="active"
                    *ngFor="let c of $cs"
                    [routerLink]="['category',c.id]">
                    <div class="categoryIcon"
                         [style.background-image]="getStyle(c.icon)">
                    </div>
                    {{c.title}}
               </div>
          </ng-container>
     </ng-container>

     <ng-template #$default>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','internet']">
               <div class="categoryIcon internet"></div>
               <div class="title"
                    i18n>Internet</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','chat']">
               <div class="categoryIcon chat"></div>
               <div class="title"
                    i18n>Chat</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','music']">
               <div class="categoryIcon music"></div>
               <div class="title"
                    i18n>Music</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','video']">
               <div class="categoryIcon video"></div>
               <div class="title"
                    i18n>Video</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','graphics']">
               <div class="categoryIcon graphics"></div>
               <div class="title"
                    i18n>Graphics</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','game']">
               <div class="categoryIcon game"></div>
               <div class="title"
                    i18n>Game</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','office']">
               <div class="categoryIcon office"></div>
               <div class="title"
                    i18n>Office</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','reading']">
               <div class="categoryIcon reading"></div>
               <div class="title"
                    i18n>Reading</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','development']">
               <div class="categoryIcon development"></div>
               <div class="title"
                    i18n>Development</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','system']">
               <div class="categoryIcon system"></div>
               <div class="title"
                    i18n>System</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               tabIndex="0"
               [routerLink]="['category','others']">
               <div class="categoryIcon others"></div>
               <div class="title"
                    i18n>Others</div>
          </div>
     </ng-template>

     <ng-container *ngIf="native">
          <div class="hr"></div>
          <div class="navItem"
               routerLinkActive="active"
               [routerLink]="['download']">
               <div class="categoryIcon downloads"></div>
               <div class="title"
                    i18n>Download</div>
               <div class="downloadCount"
                    [class.rect]="$c>=10"
                    [@dlcIn]
                    *ngIf="dc$|async as $c">{{$c}}</div>
          </div>
          <div class="navItem"
               routerLinkActive="active"
               [routerLink]="['uninstall']">
               <div class="categoryIcon uninstall"></div>
               <div class="title"
                    i18n="uninstall-app|Uninstall applications">Uninstall</div>
          </div>
     </ng-container>
</div>