.nav {
  user-select: none;
  text-align: center;
  height: 100%;
  width: 12vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f9f9fa;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  .navItem {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 12px;
    padding-left: 1rem;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    border-right: 3px solid transparent;
    .categoryIcon {
      margin-right: 0.5rem;
      width: 16px;
      min-width: 16px;
      height: 16px;
      content: var(--src);
    }
    &.active {
      border-right: 3px solid #2ca7f8;
      background-color: #d6eefe;
      color: #2ca7f8;
      .categoryIcon {
        content: var(--active) !important;
      }
    }
    &:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .title {
      text-align: left;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 6px;
  }
}
.downloadCount {
  font-size: 10px;
  font-weight: 500;
  background-color: white;
  width: 16px;
  height: 16px;
  min-width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  color: #2ca7f8;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  &.rect {
    width: 20px;
    border-radius: 8px;
  }
}
