.nav {
  text-align: center;
  .navItem {
    padding: 0.4rem;
    margin-bottom: 1rem;
    outline: none;
    cursor: pointer;
    &.active {
      border-right: 3px solid #26a2f1;
      background-color: #d6eefe;
      color: #53a8e0;
    }
  }
}
