<div class="nav">
  <div i18n
       class="navItem"
       routerLinkActive="active"
       [routerLink]="['index']">
    <img class="categoryIcon"
         [attr.style]="getStyleByID('homepage')">Home</div>
  <div i18n
       class="navItem"
       routerLinkActive="active"
       [routerLink]="['ranking']">
    <img class="categoryIcon"
         [attr.style]="getStyleByID('ranking')">Rankings</div>
  <ng-container *ngIf="cs$|async as $cs;else $default">
    <ng-container *ngIf="$cs.length>0;else $default">
      <div class="navItem"
           routerLinkActive="active"
           *ngFor="let c of $cs"
           [routerLink]="['category',c.id]">
        <img class="categoryIcon"
             [attr.style]="getStyle(c.icon)">{{c.title}}</div>
    </ng-container>
  </ng-container>

  <ng-template #$default>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','internet']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('internet')">Internet</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','office']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('office')">Office</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','development']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('development')">Development</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','reading']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('reading')">Reading</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','graphics']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('graphics')">Graphics</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','game']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('game')">Game</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','music']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('music')">Music</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','system']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('system')">System</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','video']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('video')">Video</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','chat']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('chat')">Chat</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         tabIndex="0"
         [routerLink]="['category','others']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('others')">Others</div>
  </ng-template>

  <ng-container *ngIf="native">
    <div class="hr"></div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         [routerLink]="['download']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('downloads')">Download</div>
    <div i18n
         class="navItem"
         routerLinkActive="active"
         [routerLink]="['uninstall']">
      <img class="categoryIcon"
           [attr.style]="getStyleByID('uninstall')">Uninstall</div>
  </ng-container>
</div>