.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  width: 226px;
  position: relative;
  margin-bottom: 1rem;
}
header {
  font-size: 1.5rem;
  z-index: 1;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0px 1px white, 0 0px 3px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
main img {
  filter: brightness(80%);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 rgba(255, 255, 255, 0.1);
}
.empty {
  margin-bottom: unset;
}
