<div *ngIf="uninstallApps$|async as $apps;else $wait">
  <div class="title"
       i18n>{{$apps.length}} {$apps.length,plural, =0 {application} =1 {application} other {applications} } installed</div>
  <div class="appItem"
       *ngFor="let $app of $apps">
    <img class="icon"
         [src]="metadataServer + '/' + $app.icon">
    <div class="content">
      <div class="name">{{$app.localInfo.description.name}}</div>


      <ng-container *ngIf="!$btnDiv.hidden">
        <div class="time">
          <span i18n>Date installed:</span>
          <span *ngIf="$app.installedTime;else $unknownTime">{{$app.installedTime*1000|date}}</span>
          <ng-template #$unknownTime>
            <span i18n>Unknown</span>
          </ng-template>
        </div>
        <div class="version"
             i18n>Version: {{$app.version?.localVersion}}</div>
      </ng-container>


      <div class="uninstall"
           #$btnDiv>
        <ng-container>
          <button [disabled]="$app.jobInfo"
                  (click)="$btnDiv.hidden=true"
                  #$btn>
            <ng-container *ngIf="$app.jobInfo;else $t"
                          i18n>Uninstalling</ng-container>
            <ng-template #$t
                         i18n>Uninstall</ng-template>
          </button>
        </ng-container>
      </div>
      <ng-container *ngIf="$btnDiv.hidden">
        <div class="warn"
             i18n>Are you sure to uninstall this application?</div>
        <div class="uninstall">
          <button (click)="$btnDiv.hidden=false"
                  i18n>Cancel</button>
          <button (click)="uninstall($app.name);$btnDiv.hidden=false;$btn.disabled=true"
                  i18n>Confirm</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #$wait>
  <div class="wait">
    <app-wait></app-wait>
  </div>
</ng-template>