<ng-container *ngIf="uninstallJobMap$|async as $jobMap">
  <div *ngIf="uninstallApps$|async as $apps">
    <div class="title"
         i18n>{{$apps.length}} {$apps.length,plural, =0 {application} =1 {application} other {applications} } installed</div>
    <div class="appItem"
         *ngFor="let $app of $apps">
      <img class="icon"
           [src]="metadataServer + '/' + $app.icon">
      <div class="content">
        <div class="name">{{$app.localInfo.description.name}}</div>

        <ng-template #$info>
          <div class="time"
               i18n>Date installed:
            <span *ngIf="getInstalledTime($app.name)|async as $installedTime">{{$installedTime*1000|date}}</span>
          </div>
          <div class="version"
               i18n>Version: {{$app.version.localVersion}}</div>
        </ng-template>

        <ng-container *ngIf="$jobMap.has($app.name);else $ctlBtn">
          <ng-container *ngTemplateOutlet="$info"></ng-container>
          <div class="uninstall">
            <button disabled
                    i18n>Uninstalling</button>
          </div>
        </ng-container>

        <ng-template #$ctlBtn>
          <ng-container *ngIf="$uninstall.hidden;else $info">
            <div class="warn"
                 i18n>Are you sure to uninstall this application?</div>
            <div class="uninstall">
              <button (click)="$uninstall.hidden=false"
                      i18n>Cancel</button>
              <button (click)="uninstall($app.name)"
                      i18n>Confirm</button>
            </div>
          </ng-container>

          <div class="uninstall"
               #$uninstall>
            <button (click)="$uninstall.hidden=true"
                    i18n>Uninstall</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>