@import '../style';

:host {
  display: flex;
  flex-direction: column;
}
.rankingList {
  display: flex;
  flex-direction: column;
  width: 225px;
  flex: 1;
  justify-content: space-between;
  .ranking {
    display: flex;
    padding: 0 5px;
    padding: 0 5px;
    align-items: center;
    &:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: var(--main-item-bg-color-hover);
      .info {
        border-bottom: solid 1px transparent;
        .control {
          display: block;
        }
      }
    }
    &.job {
      .info {
        .control {
          display: block;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      min-width: 0;
      margin-left: calc(20px - 1rem);
      border-bottom: solid 1px var(--main-item-hr-color);
      padding-top: 4px;
      .no {
        margin-right: 8px;
      }
      .base {
        flex-grow: 1;
        min-width: 0;
        margin-bottom: calc(20px - 1rem);
        .appTitle {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .control {
        display: none;
        margin-left: 4px;
        align-self: center;
      }
    }
  }
}

.textIndent {
  text-indent: calc(8px + 1.5rem) !important;
}
