:host {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  color: gray;
  margin-top: 1.5rem;
}
.water {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  background: url('/assets/images/water_front.svg') repeat-x,
    url('/assets/images/water_back.svg') repeat-x, rgba(43, 169, 243, 0.15);
  background-size: 500% 100%;
  --position: 1rem;
  background-position: left var(--position);
  animation: flow 20s infinite linear;
}

@keyframes flow {
  from {
    background-position: 0 var(--position), 500% var(--position);
  }
  to {
    background-position: 500% var(--position), 0 var(--position);
  }
}
a {
  color: blue;
}
.failed {
  margin-bottom: 1rem;
  width: 3rem;
}
.timeout {
  color: red;
}
