.title {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  button {
    color: blue;
  }
}
.upgradeItem {
  margin: 1rem 0;
  .icon {
    float: left;
  }
  .content {
    display: flex;
    .info {
      flex: 3;
    }
    .desc {
      flex: 2;
    }
    .size {
      flex: 1;
    }
    .button {
      flex: 1;
      text-align: right;
    }
  }
}

button {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.1rem 1rem;
  min-width: 8rem;
  background-color: white;
  outline: none;
}
