:host {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.installedApp {
  display: flex;
  height: 64px;
  & > div {
    border-bottom: 1px solid var(--main-item-hr-color);
  }
  .icon {
    align-self: center;
  }
  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.5rem;
    .size {
      color: gray;
    }
  }
  .installed {
    flex: 2;
    display: flex;
    .time,
    .version {
      flex: 1;
      display: flex;
      align-items: center;
      color: gray;
    }
    .confirm {
      display: flex;
      align-items: center;
    }
  }
  .control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
    button {
      width: 5rem;
      margin: 0 0.5rem;
    }
  }
}
.paginator {
  margin-top: 5px;
  text-align: right;
}
