<dstore-center-title>
  <span title
        i18n>Local App</span>
  <button routerLink="../local"
          routerLinkActive="active"
          i18n>Local App</button>
  <button routerLink="../remote"
          routerLinkActive="active"
          i18n>Remote App</button>
</dstore-center-title>

<ng-template #loadingContainer>
  <div class="loadingContainer">
    <app-wait></app-wait>
  </div>
</ng-template>
<div class="installed-list"
     dstoreResize
     (resize)="listHeight$.next($event.height)">
  <ng-container *ngIf="apps$|async as installedList; else loadingContainer">
    <ng-container *ngFor="let installed of installedList">
      <div class="installed-app">
        <img class="icon"
             [routerLink]="['/app',installed.name]"
             [src]="installed.app.icon">
        <div class="info">
          <span>{{installed.app.localInfo.description.name}}</span>
          <span class="size">{{installed.size|sizeHuman}}</span>
        </div>
        <ng-container *ngIf="removingList$|async as removingList">
          <div class="installed">
            <ng-template #confirm>
              <div class="confirm"
                   i18n>Are you sure to uninstall this application?</div>
            </ng-template>
            <ng-container *ngIf="select != installed.app.name;else confirm">
              <div class="time">
                <span i18n>Date installed:</span>
                {{installed.time*1000|date:'yyyy-MM-dd'}}
              </div>
              <div class="version">
                <span i18n>Version:</span>
                {{installed.version}}
              </div>
            </ng-container>
          </div>
          <div class="control">
            <ng-template #confirmBtn>
              <button (click)="select=null"
                      i18n>Cancel</button>
              <button class="primary"
                      (click)="remove(installed.app)"
                      i18n>Confirm</button>
            </ng-template>
            <ng-container *ngIf="select != installed.app.name;else confirmBtn">
              <ng-template #uninstall>
                <button (click)="select=installed.app.name"
                        i18n>Uninstall</button>
              </ng-template>
              <button *ngIf="removingList.includes(installed.app.name);else uninstall"
                      disabled
                      i18n>Uninstalling</button>

            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="paginator">
  <ng-container *ngIf="count$|async as count">
    <app-paginator [count]="count"
                   [pageIndex]="pageIndex$|async"
                   (pageIndexChange)="gotoPage($event)"></app-paginator>
  </ng-container>
</div>