.app {
  display: flex;
  background-color: var(--main-bg-color);
  .nav {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .context {
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
}
