.appTitle {
  cursor: pointer;
  white-space: nowrap;

  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  flex-grow: 0;
}
.subtitle {
  font-size: 10px;
  color: #787878;
  cursor: pointer;
  word-wrap: break-word;
  align-self: left;

  @media (max-width: 1024px) {
    font-size: 11px;
  }
}
.icon {
  width: 48px;
  height: 48px;
}

.cover {
  border-radius: 4px;
  margin-bottom: 5px;
  width: 226px;
  height: 140px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-image: url('/assets/images/default_cover.png');
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    &::before {
      content: url('/assets/images/default_cover.png');
      position: absolute;
    }
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

.empty {
  order: 1;
  opacity: 0;
  cursor: default !important;
  * {
    cursor: default !important;
  }
}
