:host {
  display: block;
  padding: 1rem 2rem;
}
.title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.appItem {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .name {
      flex: 1;
    }
    .time {
      flex: 1;
      color: gray;
    }
    .version {
      flex: 1;
      color: gray;
    }
    .warn {
      flex: 2;
    }
    .uninstall {
      flex: 1;
      text-align: right;
      justify-content: space-between;
      button {
        width: 5rem;
        padding: 0.5rem 0;
        margin: 0 0.5rem;
      }
    }
  }
}

.wait {
  height: 90vh;
}
