:host {
  display: block;
  padding: 1rem 2rem;
}
.title {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.appItem {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .base {
      flex: 1;
      display: flex;
      flex-direction: column;
      .size {
        color: gray;
      }
    }
    .time {
      flex: 1;
      color: gray;
    }
    .version {
      flex: 1;
      color: gray;
    }
    .warn {
      flex: 2;
    }
    .uninstall {
      flex: 1;
      text-align: right;
      justify-content: space-between;
      button {
        width: 5rem;
        margin: 0 0.5rem;
      }
      .confirm {
        color: #0699ff;
        font-weight: 500;
        box-shadow: inset 0 0 0 1px rgba(0, 132, 255, 0.4);
        &:focus {
          color: white;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
}

.wait {
  height: 90vh;
}
