<ng-container *ngIf="installedApps as $installedApps;else $wait">
  <div *ngIf="uninstallingApps as $uninstallingApps;else $wait">
    <div class="title"
         i18n>{{$installedApps.length}} {$installedApps.length,plural, =0 {application} =1 {application} other {applications} } installed
    </div>
    <div class="appItem"
         *ngFor="let $installedApp of $installedApps">
      <ng-container *ngIf="$installedApp.name|appInfo|async as $app">
        <img class="icon"
             [src]="getUrl($app)">
        <div class="content">
          <div class="base">
            <span>{{$app.localInfo.description.name}}</span>
            <span class="size"
                  *ngIf="$installedApp.size > 0; else $unknown">{{$installedApp.size | sizeHuman}}</span>
            <ng-template #$unknown>
              <span class="size"
                    i18n>Unknown</span>
            </ng-template>
          </div>
          <ng-container *ngIf="select===$app.name ;else ctl">
            <div class="warn"
                 i18n>Are you sure to uninstall this application?</div>
            <div class="uninstall">
              <button (click)="select=''"
                      i18n>Cancel</button>
              <button (click)="uninstall($installedApp.name,$app.localInfo.description.name)"
                      i18n>Confirm</button>
            </div>
          </ng-container>
          <ng-template #ctl>
            <div class="time co-star">
              <span i18n>Date installed:</span>
              <span *ngIf="$installedApp.time as $t;else $unknownTime">{{$t*1000|date:'yyyy-MM-dd'}}</span>
              <ng-template #$unknownTime>
                <span i18n>Unknown</span>
              </ng-template>
            </div>
            <div class="version co-star">
              <ng-container i18n>Version:</ng-container>{{$installedApp.version}}</div>
            <div class="uninstall">
              <button *ngIf="!$uninstallingApps.includes($installedApp.name);else $ing"
                      (click)="select=$app.name"
                      i18n>Uninstall</button>
              <ng-template #$ing>
                <button i18n
                        disabled>Uninstalling</button>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #$wait>
  <div class="wait">
    <app-wait [checkNet]="false"></app-wait>
  </div>
</ng-template>