:host {
  display: block;
  padding: 1rem 2rem;
}
.title {
  padding: 10px 0;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-title-hr-color);
}
.appItem {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;
    border-bottom: 1px solid var(--main-item-hr-color);
    .base {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: var(--main-color);
      .size {
        color: gray;
      }
    }
    .time {
      flex: 1;
      color: gray;
    }
    .version {
      flex: 1;
      color: gray;
    }
    .warn {
      flex: 2;
    }
    .uninstall {
      flex: 1;
      text-align: right;
      justify-content: space-between;
      button {
        width: 5rem;
        margin: 0 0.5rem;
      }
    }
  }
}

.wait {
  height: 90vh;
}
