:host {
  position: relative;
  display: flex;
  min-width: 2rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.circle-control {
  background-repeat: no-repeat;
  background-position: center;
  &:not(.disabled) {
    background-image: var(--start-icon);
    &.running {
      background-image: var(--pause-icon);
    }
  }
}
