dialog {
  padding: 0;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
}
.container {
  width: 800px;
  margin: 1rem;
  height: 480px;
  border: 1px solid var(--main-title-hr-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scrollbar {
  height: 100%;
  display: flex;
}
.app-list {
  display: flex;
  flex-wrap: wrap;
  .app {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    height: 3rem;
    flex: 30%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    img {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 5px;
    }
  }
  .empty {
    flex: 30%;
  }
}
.paginator {
  border-top: 1px solid var(--main-item-hr-color);
  margin: 0 1rem;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.select-control {
  a,
  span {
    padding: 0 0.5rem;
  }
}
.text-align {
  text-align: center;
}
button {
  margin-bottom: 1rem;
  font-size: 1rem;
  height: 50px;
  padding: 0 2rem;
}
