<ul class="pagination" *ngIf="pageListObs|async as $pageList">
  <li class="range-field">
    <input type="range" min="1" [max]="count" [value]="page" (change)="goto($event.target.value)" />
  </li>


  <li class="waves-effect" [class.disabled]="page===1">
    <a [routerLink]="['../', page===1 ? page : page-1]" queryParamsHandling="merge">
      <i class="material-icons">chevron_left</i>
    </a>
  </li>

  <ng-container *ngIf="!$pageList.includes(1)">
    <li>
      <a [routerLink]="['../',1]" queryParamsHandling="merge">1</a>
    </li>
    <li>...</li>
  </ng-container>

  <li class="waves-effect" *ngFor="let p of $pageList" routerLinkActive="active">
    <a [routerLink]="['../',p]" queryParamsHandling="merge">{{p}}</a>
  </li>

  <ng-container *ngIf="!$pageList.includes(this.count)">
    <li>...</li>
    <li>
      <a [routerLink]="['../',this.count]" queryParamsHandling="merge">{{this.count}}</a>
    </li>
  </ng-container>
  <li class="waves-effect" [class.disabled]="page===this.count">
    <a [routerLink]="['../', page==count ? page : page+1]" queryParamsHandling="merge">
      <i class="material-icons">chevron_right</i>
    </a>
  </li>

</ul>
