.donateBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  button {
    padding: 0 1rem;
    height: 2rem;
    width: 5rem;
  }
  .statement {
    margin-top: 0.5rem;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
  }
}
.statementDialog {
  width: 80%;
  max-width: 1000px;
  height: 80%;
  overflow-y: auto;
  padding: 0;
}
.donateDialog {
  width: 400px;
  height: 250px;
}

.container {
  width: 100%;
  height: 100%;
}

.donateForm {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h3,
  button {
    align-self: center;
  }
  .formField {
    display: flex;
    align-items: center;
    div {
      flex-grow: 1;
      input {
        outline: none;
      }
    }
  }
}

.amount {
  input {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    &:focus {
      background-color: rgba(36, 46, 77, 0.05);
      border: solid 1px rgba(43, 167, 248, 0.3);
    }
  }
  position: relative;
  .rand {
    color: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-items: center;
    &::after {
      min-width: 1rem;
      min-height: 1rem;
      margin-left: 3px;
      content: '';
      display: inline-block;
      background-size: 100%;
      background-image: var(--random-icon);
      background-repeat: no-repeat;
      background-position: 0, -100px, -100px;
    }

    &:hover {
      &::after {
        background-position: -100px, 0, -100px;
      }
    }
    &:active {
      &::after {
        background-position: -100px, -100px, 0;
      }
    }
  }
}
.paymentLabel {
  white-space: nowrap;
  align-self: flex-start;
  padding-top: 22px;
}
.payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    input[disabled] + img {
      opacity: 0.5;
    }
  }
}
.btn {
  grid-column: span 2;
  height: 2rem;
  width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.waitPay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .icon {
    width: 3rem;
  }
  .amount {
    font-weight: bold;
    color: #e79305;
  }
  .wait {
    content: url('/assets/images/spinner.svg');
    animation: loop 2s infinite linear;
  }
  @keyframes loop {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.msg {
  height: 10rem;
  line-height: 10rem;
}

.loading {
  display: flex;
  height: 100%;
  align-content: center;
}
.paymentIcon {
  width: 100px;
  height: 28px;
  &.wechat {
    content: var(--wechat-icon);
  }
  &.alipay {
    content: var(--alipay-icon);
  }
  &.paypal {
    content: var(--paypal-icon);
  }
}
